node_modules/
*.sln
*.vcxproj
*.vcxproj.*
*.lock
conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
graph_info.json
.vs/
.rnd
build/*
project/obj/
debug/
extension/plugin/lib/**/*.exp
extension/plugin/lib/**/*.fcm
extension/plugin/lib/**/*.lib
extension/plugin/lib/**/*.pdb
extension/Runtime/runtime/anime.min.js